.analysis {
    .analysis-header {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 12px;

        h2 {
            text-align: center;
            padding-top: 20px;
            padding-bottom: 20px;
            flex: 1;
            margin-bottom: 0;

            @include Responsive(xs) { 
                font-size: 16px;
                flex: 100%; 
            }
            @include Responsive(sm) { 
                font-size: 18px;
            }
            @include Responsive(md) { 
                font-size: 21px;
            }
        }

        .btn-done {
            background-color: rgba(47,90,216,1);
            color: #fff;
            border-color: rgba(47,90,216,1);
            border-radius: 6px;
            font-weight: 500;
            text-align: center;
            padding: .375rem .5rem;
            box-sizing: border-box;
            border-width: 0;
            height: 38px;
            cursor: pointer;

            @include Responsive(xs) {
                flex: 100%; 
            }

            &:hover { transform: translateY(-2px)}
        }
    }

    .analysis-wrap{
        background-color: #fff;
        border-radius: 6px;
        box-shadow: rgba(0, 0, 0, 0.043) 0px 3px 20px 0px;

        @include Responsive(xs) {padding: 14px;}
        @include Responsive(sm) {padding: 14px;}
        @include Responsive(xl) {padding: 20px;}

        .progress-declare {
            text-align: left;

            label {
                display: inline-block;
                font-size: 1rem;
                font-weight: 500;
                margin-bottom: 5px;
            }
        }
        
    }
}