.App {
    text-align: center;
    height: 100%;
}

$xs: 575.98px;   
$sm: 576px;  
$md: 768px;   
$lg: 992px;     
$xl: 1200px;  
$xxl: 1400px;   
  
  // media queries
  
@mixin Responsive($canvas) {
    @if $canvas == xs {
        @media only screen and (max-width: $xs) { @content; } 
    }
    @else if $canvas == sm {
        @media only screen and (min-width: $sm) { @content; } 
    }
    @else if $canvas == md {
        @media only screen and (min-width: $md) { @content; } 
    }
    @else if $canvas == lg {
        @media only screen and (min-width: $lg) { @content; } 
    }
    @else if $canvas == xl {
        @media only screen and (min-width: $xl) { @content; } 
    }
    @else if $canvas == xxl {
        @media only screen and (min-width: $xxl) { @content; } 
    }
}

//Import scss from all components

@import "./Header.scss";

@import "./Footer.scss";

@import "./Login.scss";

@import "./Register.scss";

@import "./Homepage.scss";

@import "./ChangePassword.scss";

@import "./ChangeTime.scss";

@import "./ChangeState.scss";

@import "./Slide.scss";

@import "./Account.scss";

@import './ViewPopulation.scss';

@import './ViewOption.scss';

@import './ExportData.scss';

@import './UserAvatar.scss';