.export-data {

    .ant-popover-inner {
        border-radius: 6px;
    }

    .list-export-item {
        cursor: pointer;
        border-bottom: none !important;
        padding: 8px 12px !important;
        border-radius: 6px;
    
        &:hover {
            background-color: rgba(237,242,247, 1);
        }

        .btn-export-csv{
            color: #000;
        }
    }
}

#btn-export {
    border-radius: 6px !important;
    height: 100% !important;
    margin-left: 5px;
    width: 38px;
    
}

.btn-single-export {
    border-radius: 6px !important;
    height: 38px!important;
    border-color: rgba(226,232,240,1);
    color: rgba(74,85,104,1);
    font-weight: 500;
    font-size: 14px;

    &:hover {
        background-color: rgba(226,232,240, 0.2);
    }

    .btn-export-csv{
        color: #000;
    }
}

