.Header {
  position: absolute;
  top: 0;
  background-image: linear-gradient(to left, red, blue);
  height: 110px;
  width: 100%;
  padding: 0;
  .Header-container {
    display: flex;
    justify-content: space-between;
    .header_left {
      width: 60%;
      height: 100%;
      display: flex;
      justify-content: start;
      align-items: center;
      .logo {
        height: 80px;
        width: 80px;
        border-radius: 50%;
        // background-image: url(../../material/logo.jpg);
      }
      span {
        font-size: xx-large;
        font-weight: 900;
        color: aliceblue;
        margin-left: 10px;
      }
    }

    .header_right {
      display: flex;
      align-items: center;
      .btn {
        cursor: pointer;
        font-size: 20px;
        font-weight: bolder;
        color: white;
        padding-right: 20px;
        border: none;
        background: none;
      }
      .btn:hover {
        color: yellowgreen;
      }
    }
  }
}
