.register {
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: #f1f5f8;

    @include Responsive(xs) {
        padding-left: 16px;
        padding-right: 16px;
    }

    .register-container {
        border-radius: 5px;
        background-color: #ffffff;
        box-shadow: 0 0 12px 0 #b3afaf;
        margin-left: auto;
        margin-right: auto;

        @include Responsive(sm) {
            max-width: 500px;
        }
        @include Responsive(md) {
            max-width: 700px;
        }
        @include Responsive(lg) {
            max-width: 800px;
        }
    }

    .register-header {
        padding: 1.25rem;
        border-bottom-width: 1px;
        border-color: rgb(237, 242, 247);
        border-bottom-style: solid;
        p {
            font-weight: 500;
            font-size: 1.5rem;
            font-weight: 800;
            line-height: 1.5rem;
            text-align: left;
            margin-bottom: 0;
            color: rgb(45, 55, 72);
            font-family: Roboto;
        }
        
    }

    .register-body {
        padding: 1.25rem;
    }

    form {
        text-align: left;

        .form-item {
            margin-top: 2rem;

            label.label-select {
                margin-right: 15px;
            }

            label {
                color: rgb(45, 55, 72);
                font-size: 1rem;
                font-family: Roboto;
                margin: 0 0 8px;
                display: inline-block;
            }

            .ant-select {
                width: 150px;
            }

            .ant-select-selection-item {
                text-transform: capitalize;
            }

            input[type="text"],input[type="password"],input[type="email"] {
                width: 100%;
                border-radius: .375rem;
                border-width: 1px;
                border-color: rgb(241, 245, 248);
                border-style: solid;
                padding: .5rem .75rem;
                outline: none;
                box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
                font-size: 100%;

                &:focus {
                    outline: 2px solid transparent;
                    outline-offset: 2px;
                    box-shadow: rgb(255, 255, 255) 0px 0px 0px 0px, rgba(59, 130, 246, 0.5) 0px 0px 0px 3px, rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
                }

                &:disabled {
                    background-color: rgba(247,250,252, 1);
                }
            }

            .start-label,.end-label {
                width: 90px;

                @include Responsive (xs) { margin-bottom: 8px;}
                @include Responsive (sm) { margin-bottom: 8px;}
                @include Responsive (md) { margin-bottom: 0px;}
            }

        }

        input[type="submit"] {
            margin-top: 3rem;
            background-color: rgb(28, 63, 170);
            width: 10rem;
            margin-right: auto;
            border-color: rgb(28, 63, 170);
            color: #fff;
            border-radius: 0.375rem;
            border: 1px solid rgb(28, 63, 170);
            display: inline-flex;
            cursor: pointer;
            align-items: center;
            justify-content: center;
            padding: .5rem .75rem;
            font-weight: 500;

            &:hover {
                background-color: rgba(28, 63, 170, .9);
                border-color: rgba(28, 63, 170, .9);
            }

            &:focus {
                outline: 2px solid transparent;
                outline-offset: 2px;
                box-shadow: rgb(255, 255, 255) 0px 0px 0px 0px, rgba(59, 130, 246, 0.5) 0px 0px 0px 3px, rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
            }

        }

        .err-msg {
            color: red;
        }
    }
}