.slide-left {
    @include Responsive(xs) { display: none; }
    @include Responsive(sm) { display: none; }
    @include Responsive(lg) { display: block; }

    .ant-layout-sider-children {
        overflow-x: hidden;
        overflow-y: auto;
    }

    .ant-layout-sider-zero-width-trigger {
        top: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 36px;
    }

    .menu_item {
        padding-left: 20px !important;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        color: #ffffff;
    
        a {
            display: block;
            color: #ffffff !important;
        }
    
        svg {
            width: 20px;
        }
    }

    .ant-menu-item-selected {
        color: #000000;
        a {
            color: #000000 !important;
        }
    }

    .menu_item:not(.ant-menu-item-selected):hover {
        background-color: rgba(39,74,183, 1) !important;
        color: #ffffff !important;
    }
}

