.view-option {
    
    label {
        font-family: Roboto;
        font-size: 1rem;
        line-height: 1.25rem;
        color: rgba(45, 55, 72, 1);
        font-weight: 600;
    }

    .option-row {
        .opt-label {
            margin-right: auto;
            width: 90px;
        }
    
        .opt-col {
            text-align: left;
            display: flex;
            align-items: center;
        }
    }

    .level-row {
        .level-label {
            margin-right: 10px;
        }

        .level-col {
            @include Responsive(xs) { 
                display: block;
                flex: 0 0 100%;
                max-width: 100%;
            }
            // @include Responsive(sm) { 
            //     display: block;
            //     flex: 0 0 50%;
            //     max-width: 50%;
            // }
            @include Responsive(md) { 
                display: block;
                flex: inherit;
                max-width: inherit;
            }
        }
    
        .btn-col {
            @include Responsive(xs) { display: none; }
            @include Responsive(sm) { display: none; }
            @include Responsive(md) { display: block; }
        }
    
        .level-col-select {
            @include Responsive(xs) {
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
        }

        .export-col {
            margin-left: auto;

            @include Responsive(xs) { display: none; }
        }
    }


    .btn-row-xs {
        margin-top: 16px;
        @include Responsive(md) { display: none; }
    }

    .btn-search {
        background-color: rgb(28, 63, 170);
        border-color: rgb(28, 63, 170);
        color: #fff;
        border-radius: 0.375rem;
        border: 1px solid rgb(28, 63, 170);
        display: inline-flex;
        cursor: pointer;
        align-items: center;
        justify-content: center;
        padding: .4rem .75rem;
        font-weight: 500;
        font-size: 1rem;
        // margin-left: 20px;

        &:hover {
            background-color: rgba(28, 63, 170, .9);
            border-color: rgba(28, 63, 170, .9);
        }

        &:focus {
            outline: 2px solid transparent;
            outline-offset: 2px;
            box-shadow: rgb(255, 255, 255) 0px 0px 0px 0px, rgba(59, 130, 246, 0.5) 0px 0px 0px 3px, rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
        }
    }

    .ant-select-selector{
        border-radius: 6px !important;
        box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
    }
}