.view-population {
    h2 {
        text-align: center;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .name,.gender,.career {
        text-transform: capitalize;
    }

    .view-table-option-wrap{
        background-color: #fff;
        border-radius: 6px;
        box-shadow: rgba(0, 0, 0, 0.043) 0px 3px 20px 0px;

        @include Responsive(xs) {padding: 14px;}
        @include Responsive(xl) {padding: 20px;}
    }
}